<h1>О мероприятии</h1>
<h2>BeerConf это:</h2>
<ul class="list">
    <li>неформальная дружеская обстановка;                                                                            </li>
    <li>возможность для новых знакомств и укрепления существующих отношений;                                          </li>
    <li>общение разработчиков различных направлений и обмен опытом;                                                   </li>
    <li>место, где вы можете пообщаться со своими коллегами из других фирм, быть выслушанными, получить хороший совет;</li>
    <li>свободные, профильные и тематические встречи: web, мобильные приложения, best practices и так далее;          </li>
    <li>между вами и докладчиком всего несколько метров и рюмка чая;                                                  </li>
    <li>раз в месяц (а может чаще или реже).                                                                          </li>
</ul>
<h2>Наши цели:</h2>
<ul class="list">
    <li>сказать и быть услышанными;       </li>
    <li>нам интересны новые знания и опыт;</li>
    <li>мы не преследуем целей пиара, пропаганды каких-либо направлений или инструментов разработки, рекламирования спиртных напитков (захотим — будем преследовать;)).</li>
</ul>

<h2>Форматы докладов</h2>
<ul class="list">
    <li>печа-куча;        </li>
    <li>доклады-вопросы;  </li>
    <li>все остальное.    </li>
</ul>