<h1>Контакты</h1>
<ul class="list">
    <li>twitter: <a href="http://twitter.com/beerconf">http://twitter.com/beerconf</a></li>
    <li>google-groups: <a href="http://groups.google.com/group/beerconf">http://groups.google.com/group/beerconf</a></li>
    <li>e-mail: info[at]beerconf.ru                         </li>
    <li>+7-963-472-77-03, Александр</li>
    <li>+7-906-870-45-14, Дмитрий</li>
</ul>

<p>Хотите стать спонсором? Мы очень рады:) - пишите на info[at]beerconf.ru</p>

<p>
    Хотите выступить с докладом* и задать вектор обсуждения? Пишите на info[at]beerconf.ru<br/>
    *максимальный объем доклада 15-20 минут<br/>
    Или приходите на конференцию и скажите: "Хочу сделать доклад..."
</p>