<h1>Главная</h1>
Первая в Челябинске мини-конференция в формате beer meetup:
<ul class="list">
    <li>пивной бар</li>
    <li>10-20 человек</li>
    <li>обсуждение технологий</li>
    <li>первая кружка пива (или чайник вкусного чая) бесплатно</li>
</ul>
                                      
<p>Предыдущие встречи:</p>
<ul class="list">
    <li>Первая встреча - 14 апреля 2011.</li>
    <li>Вторая встреча - 8 июня 2011.</li>
    <li>Третья встреча - 4 июля 2011.</li>
    <li>Четвертая встреча - 18 августа 2011.</li>
    <li>Пятая встреча - 1 декабря 2011.</li>
    <li>Шестая встреча - 15 марта 2012.</li>
</ul>