<h1>Главная</h1>
Первая в Челябинске мини-конференция в формате beer meetup:
<ul class="list">
    <li>пивной бар</li>
    <li>10-20 человек</li>
    <li>обсуждение технологий</li>
    <li>первая кружка пива (или чайник вкусного чая) бесплатно</li>
</ul>

<ul class="list">
    <li>Первая встреча прошла 14 апреля.</li>
    <li>Вторая встреча - 8 июня.</li>
    <li>Третья встреча - 4 июля.</li>
</ul>

Четвертая встреча состоится совсем скоро. Количество мест строго ограничено! Место проведения будет сообщено всем зарегистрировавшимся.