html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #EEE8DD;
  font-family: Helvetica, sans-serif;
  font-size: 0.95em;
  line-height: 1.2em;
  background: #FFFDDF;
  color: #3D2B1F;
}
#head {
  width: 1000px;
  height: 50px;
  background: white;
  margin: 0 auto;
  padding: 7px;
  border-bottom: 2px solid #3D2B1F;
}
#title {
  font-family: Georgia,Times New Roman,serif;
  font-style: italic;
  font-size: 3.0em;
  font-weight: normal;
  line-height: 1;
  font-variant: small-caps;
  float: left;
  margin-left: 7px;
}
#main {
  margin: 0 auto;
  width: 1000px;
  background: white;
  padding: 7px;
  min-height: 500px;
}
#left-column {
  width: 200px;
  float: left;
}
#center-column {
  width: 600px;
  float: left;
  float: left;
}
#right-column {
  width: 200px;
  float: left;
  float: left;
}
#footer {
  clear: both;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  padding-bottom: 20px;
  background: white;
  padding: 7px;
}
#content {
  padding: 5px 9px;
}
#main-menu ul {
  letter-spacing: .09em;
}
#main-menu ul li {
  padding: 5px;
  margin: 5px;
  background: #a25f2a;
}
#main-menu ul li a, #main-menu ul li span {
  text-decoration: none;
  color: #ffcc00;
}
#main-menu ul li a:hover, #main-menu ul li span {
  opacity: 0.8;
}
#bottom-menu ul li {
  display: inline;
}
#bottom-menu ul li:after, #bottom-menu ul li:first-child:before {
  content: "|";
}
ul.list {
  padding-left: 40px;
  margin-bottom: 16px;
  margin-top: 16px;
}
ul.list li {
  list-style: disc;
}
.clear {
  clear: both;
}
#log-on-information {
  float: right;
}
#session {
  position: relative;
  white-space: nowrap;
}
#session.active .dropdown {
  display: block !important;
}
#session .dropdown {
  display: none;
  position: absolute;
  right: 0;
  padding: 5px;
  border: 1px solid #3D2B1F;
  background: white;
}
.display-label {
  float: left;
  padding: 5px;
  font-weight: bolder;
}
.display-field {
  padding: 5px;
}
.field-validation-error {
  display: block;
}
