<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="BeerConf" connectionString="data source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=beerconf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
