<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brandy.Core" version="0.1.0.0" targetFramework="net40" />
  <package id="Brandy.NHibernate" version="0.1.0.0" targetFramework="net40" />
  <package id="Brandy.Security" version="0.1.0.0" targetFramework="net40" />
  <package id="Brandy.Security.NHibernate" version="0.1.0.0" targetFramework="net40" />
  <package id="Brandy.Security.Web" version="0.1.0.0" targetFramework="net40" />
  <package id="Brandy.Security.Windsor" version="0.1.0.0" targetFramework="net40" />
  <package id="Brandy.Web" version="0.1.0.0" targetFramework="net40" />
  <package id="Castle.Core" version="3.1.0" targetFramework="net40" />
  <package id="Castle.FactorySupportFacility" version="3.1.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.1.0" targetFramework="net40" />
  <package id="dotless" version="1.3.0.5" targetFramework="net40" />
  <package id="FluentMigrator" version="1.0.3.0" targetFramework="net40" />
  <package id="FluentNHibernate" version="1.3.0.741" targetFramework="net40" />
  <package id="foolproof" version="0.9.4517" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.3.1.4000" targetFramework="net40" />
  <package id="jQuery" version="1.8.1" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.23" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.9.0.1" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.20710.0" targetFramework="net40" />
  <package id="Modernizr" version="2.6.2" targetFramework="net40" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="MvcExtensions" version="2.5.1" targetFramework="net40" />
  <package id="MvcExtensions.Foolproof" version="2.5.0" targetFramework="net40" />
  <package id="MvcExtensions.Windsor3" version="2.5.0" targetFramework="net40" />
  <package id="NHibernate" version="3.3.1.4000" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="2.1.1" targetFramework="net40" />
  <package id="Web.Require" version="1.0.6.0" />
</packages>