<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brandy.Core" version="0.1.0.0" targetFramework="net40" />
  <package id="Brandy.Security" version="0.1.0.0" targetFramework="net40" />
  <package id="Brandy.Security.Web" version="0.1.0.0" targetFramework="net40" />
  <package id="Brandy.Web" version="0.1.0.0" targetFramework="net40" />
  <package id="foolproof" version="0.9.4517" targetFramework="net40" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="MvcExtensions" version="2.5.1" targetFramework="net40" />
  <package id="MvcExtensions.Foolproof" version="2.5.0" targetFramework="net40" />
  <package id="OoMapper" version="0.2.0.27" targetFramework="net40" />
</packages>